.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.modal-header {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  margin-bottom: 1em;
  padding: 1em;
}

.modal-content {
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30%;
  background-color: hsl(0, 0%, 98%);
  border-radius: 12px;
  height: 30%;
  box-sizing: border-box;
}

.modal-content h2 {
  text-align: center;
  color: hsl(235, 24%, 19%);
}

.btn-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .modal-header,
  .modal-content {
    width: 90%;
  }
}
